# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/Proyecto_Multijugador_Infantil_PRIA_clone_0/
